
body {
    -webkit-font-smoothing: antialiased;
}

img.image-fluid {
    border-radius: 45%;
    max-width: 400px;
}

section.hero {
    display: flex;
}

.flex-item {
    display: flex;
}

#navbarNavDropdown {
    flex-direction: row-reverse;
}

/* Sticks the nav on top of the page and when page is scrolled it is still visible */ 

nav {
    position: fixed;
    width: 100%;
}

div.item {
display: flex;
margin: 0px 0px 30px 0px;
}

h1 {
font-size: clamp(16px, 4vw, 28px);
}

h2 {
font-size: clamp(32px, 8vw, 40px);
}

h3 {
font-size: clamp(16px, 3vw, 28px);
}

.heading {
    text-align: center;
}

.navbar {
    position: fixed;
    z-index: 99;
}
/* Portfolio */

.wrapper {
padding: 4rem 2rem;
margin-bottom: 2rem;
}

.item {
    height: auto;
}

div.col-lg-6 {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.hero {
    height: 80vh;
}

/* work section */

.work-section {
    margin-bottom: 4rem;
}


/* skills */

.logo-img {
    max-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


.triple-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.triple-item {
    text-align: center;
    width: 33%;
    flex-basis: auto;
    flex-direction: row;
    padding: 0px 24px 0 24px;
}

.img-space {
    padding-bottom: 1rem;
}

/* Media queries */

@media screen and (max-width: 779px) {

    div.mobile {
        display: none;
    }
}
