:root {
    --blue-lagoon: #094af1;
    --space-grey: #eeeffa;
    --pinky: #ffe8e8;
    --mamba: #000;
    }

body {
    -webkit-font-smoothing: antialiased;
}

img.image-fluid {
    border-radius: 45%;
    max-width: 400px;
}

section.hero {
    display: flex;
}

.flex-item {
    display: flex;
}

#navbarNavDropdown {
    flex-direction: row-reverse;
}

/* Sticks the nav on top of the page and when page is scrolled it is still visible */ 

nav {
    position: fixed;
    width: 100%;
}

div.item {
display: flex;
margin: 0px 0px 30px 0px;
}

h1 {
font-size: clamp(16px, 4vw, 28px);
}

h2 {
font-size: clamp(32px, 8vw, 40px);
}

h3 {
font-size: clamp(16px, 3vw, 28px);
}

.subheader{
    font-weight: 300;
}

.heading {
    text-align: center;
}

.navbar {
    position: fixed;
    z-index: 99;
}

.btn-primary{
    background-color: var(--blue-lagoon) !important; 
}


/* Portfolio */
.rounded {
    border-radius: 0.5rem!important;
}

.back{
    background-color: var(--pinky);
}

.footer-bg{
 background-color: var(--mamba);
 padding: 2rem 0;
}

.wrapper {
padding: 4rem 2rem;
margin-bottom: 2rem;
}
.folio{
    align-items: start;
}
.item {
    height: auto;
}

div.col-lg-6 {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.hero {
    height: 80vh;
}

/* work section */

.work-section {
    margin-bottom: 4rem;
}


/* skills */

.logo-img {
    max-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


.triple-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.triple-item {
    text-align: left;
    width: 31.5%;
    flex-basis: auto;
    flex-direction: row;
    padding: 0.5rem;
    display: flex;
    background-color: var(--space-grey);
    margin: 0 1rem 1rem 0;
}

.img-space {
    padding-right: 1rem;
}


/* About Me */

.aboutMe {
    text-align: center;
}

.center {
    justify-content: center;
}

/* footer */

.aboutMeParagraph{
    border: none;
    padding: 0;
    width: 100%;
  }

  .contact {
    display: flex;
    height: 75%;
    justify-content: center;
    align-items: center;
  }
  
  .contact-items {
    list-style-type: none; 
    margin-right: 8px;
    display: flex;
    flex-grow: 1;
  }

  .contact-h{
    padding: 0 40px;
  }
  

/* Media queries */

@media screen and (max-width: 991px) {
    .triple-item{
        width: 46%;
    }
}

@media screen and (max-width: 779px) {

    div.mobile {
        display: none;
    }

    .triple-container{
        flex-direction: column;
    }

    .triple-item{
        width: 100%;
    }

    .contact{
        flex-direction: column;
        align-items: flex-start;
    }

}
